@model List<Libro>

@using System.Security.Claims

<h1>Carrito</h1>

<form method="post" asp-action="Compra" asp-controller="Libros">
    @foreach (var libro in Model)
    {
        <input type="hidden" name="carrito[]" value="@libro.IdLibro" />
    }

    <button type="submit" class="btn btn-success">Comprar</button>
</form>


<div class="row">
    @foreach (var libro in Model)
    {
        <div class="col-4">
            <div class="card">
                <img src="~/images/@libro.Portada" class="card-img-top" style="width:100px; height:150px; text-align:center;">
                <div class="card-body">
                    <h5 class="card-title">@libro.Titulo</h5>
                    <p class="card-text">Autor: @libro.Autor</p>
                    <p class="card-text">Editorial: @libro.Editorial</p>
                    <p class="card-text">Precio: @libro.Precio €</p>
                    <a asp-action="Carrito" asp-route-idEliminar="@libro.IdLibro" class="btn btn-danger">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>

